<nav class="navbar navbar-light bg-light" >
        <input class="form-control mr-sm-2" [(ngModel)]="nom" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="search()" type="submit">Search</button>
    </nav>
     
    <div id="article" class="card-deck" >
        <div class="card" *ngFor="let x of articlesFemme ; let indice=index" >
          <img class="card-img-top" [src]=x.image alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{x.nom|uppercase}}</h5>
            <ng-container *ngIf="x.percontage>0"><p style="color: green;font-weight: bold;" class="card-text"> {{x.prix| currency}}</p></ng-container>
            <ng-container *ngIf="x.percontage==0"><p style="color: red;" class="card-text"> {{x.prix| currency}}</p></ng-container>
            <p class="card-text"><small class="text-muted"></small>{{x.type}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">action</small>
          <button type="button"   class="btn btn-outline-info"> <a [routerLink]="['/listeFemme', x.matricule]" ><i class="fas fa-info-circle"></i></a>  </button>
          <button type="button" (click)="supprimer(indice)" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
        
      </div>
