<div id="id1" *ngIf="submitted==false">
<form #f="ngForm" (ngSubmit)="onCreate(f)">
    <!-- Le Nom d'article------------------------------------------------>
    <h2>Ajouter d'un Produit</h2>
<div class="form-group">
    <label for="nom">
        Nom Article
    </label>
    <input type="text" id="nom" name="c1" class="form-control" placeholder="Nom Article"
     [(ngModel)]="nom" required="true" #nomE="ngModel" pattern="[A-Z][ a-zA-Z]+">
    <div [hidden]="!nomE.errors?.required || nomE.pristine" class="alert alert-danger">
        le nom est un champ obligatoire
    </div>
    <div *ngIf="nomE.errors?.pattern && nomE.dirty" class="alert alert-danger">
        Le nom doit commencer par un majuscule suivie d'au moins 1 caractére
    </div>
</div>

    <!-- La date de fabrication d'article------------------------------------------------>
<div class="form-group">
    <label for="date">
        Date de Fabrication
    </label>
    <input type="text" id="date"name="c2" class="form-control" placeholder="Date de Fabrication"
     [(ngModel)]="date" #dateE="ngModel" required >
    <div [hidden]="dateE.errors?.required || dateE.dirty" class="alert alert-danger">
        la date est un champ obligatoire
    </div>
</div>

<!-- L'image d'article------------------------------------------------>
<div class="form-group">
    <label for="img">
        Chemin d'image Exp:../assets/article_femme/a5.jpg
    </label>
    <input type="text" id="img" name="c3" class="form-control" placeholder="Chemin d'image : ../assets/article/image.jpgs"
     [(ngModel)]="image" required="true" #imgE="ngModel" >
    <div [hidden]="imgE.errors?.required || imgE.dirty" class="alert alert-danger">
        l' image est un champ obligatoire
    </div>
</div>
<!-- Prix d'article------------------------------------------------>
<div class="form-group">
    <label for="Prix">
        Prix d'article
    </label>
    <input type="number" id="Prix" name="c4" class="form-control" placeholder="Prix d'article"
     [(ngModel)]="prix" required="true" #prixE="ngModel" >
    <div [hidden]="prixE.errors?.required || prixE.dirty" class="alert alert-danger">
        le prix est un champ obligatoire
    </div>
</div>

<!-- type d'article------------------------------------------------>
<div class="form-group">
    <label for="Type">
        type d'article
    </label>
''    <select id="Type" name="c5" [(ngModel)]="type" class="form-control" required  #Type="ngModel" >
      <option [value]="x" *ngFor="let x of types">{{x}}</option>
    </select>
    <div [hidden]="Type.errors?.required || Type.dirty" class="alert alert-danger">
        le type est un champ obligatoire
    </div>
</div>

<!-- solde d'article------------------------------------------------>
<div class="form-group">
    <input type="checkbox" id="solde" name="c6" [value]="true" [(ngModel)]="promos" >
    <label for="solde">
      Mettre en Solde
    </label>
    &nbsp;&nbsp;&nbsp;
    <span *ngIf="promos==true">
            <label for="perso">
                    Donnez la percentage de promos
               </label>
            <input type="number" id="perso" name="c7" required placeholder="0" [(ngModel)]="pers">    
    </span>
</div>
<!--      sexe ------------------------------------------------------------>
<div>
    <input type="radio" name="r1" value="homme" [(ngModel)]="sexe">
        Homme&nbsp;&nbsp;&nbsp;
    <input type="radio"  name="r1" value="femme" [(ngModel)]="sexe">
        Femme
</div>    


   <!-- Les bottons submit et reset-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <input type="submit" value="Ajouter" [disabled]="f.invalid" name="submit" class="btn btn-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <input type="reset" value="Vider" class="btn btn-danger" name="reset">
   <br>
   <br>
      
</form>
</div>

<div id="button" *ngIf="submitted==true">
    <br><br>
    <div id="btn">
        <div>
            <span class="alert alert-succes">L'employé {{this.nom}} a été ajouté avec succés </span>
        </div>
        <button (click)="onVueAjout()"class="btn btn-primary" name="d1"> Ajouter un autre employé </button>
    </div>    
    <div class="homme">
            <a [routerLink]="['/listeHomme']">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
             Liste des Articles Hommes 
            </a>
    </div>  
    <div class="femme">
            <a [routerLink]="['/listeFemme']">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
             Liste des Articles Femmes 
            </a>
    </div>                   
  
</div>
 
  