<nav class="navbar navbar-light bg-light" >
    <input class="form-control mr-sm-2" [(ngModel)]="nom" placeholder=" Nom d'article " aria-label="Search">
</nav>

<nav class="navbar navbar-light bg-light" >
    <input class="form-control mr-sm-2" [(ngModel)]="nom1"  placeholder=" Composition d'article" aria-label="Search">
</nav>

 
<div id="article" class="card-deck" >
    <div class="row"  *ngFor="let x of articles | articleFilter:nom1 | articleFilter1:nom; let indice=index" >
      <img class="card-img-top" [src]=x.image alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" id="nom11">{{x.nom|uppercase}}</h5>
        <ng-container *ngIf="x.percontage>0"><p style="color: green;font-weight: bold;" class="card-text"> {{x.prix| currency}}</p></ng-container>
        <ng-container *ngIf="x.percontage==0"><p style="color: red;" class="card-text"> {{x.prix| currency}}</p></ng-container>
        <p class="card-text"><small class="text-muted"></small>{{x.type}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">action</small>
      <button type="button"   class="btn btn-outline-info"> <a [routerLink]="['/listeHomme', x.matricule]" ><i class="fas fa-info-circle"></i></a>  </button>
      <button type="button" (click)="supprimer(indice)" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </div>
    
  </div>