<div class="c1"></div>
<div id="id1">
  <div class="square">
    <span></span>
    <span></span>
    <span></span>
    <div class="content">
        <h2>Homme</h2>
        <p>Vous trouvez en cliquant si-dessous les articles des hommes
        </p>
        <a style="color: black;" [routerLink]="['/listeHomme']"> Read More </a>
    </div>
  </div>
  <!-- gjhgjgh-->
  <div>
<span></span>
<span></span>
<span></span>
<div></div>
    </div>
  <!-- dfh;fgh-->
  <!-- Femme -->
  <div class="square">
        <span class="cSpan"></span>
        <span class="cSpan"></span>
        <span class="cSpan"></span>
        <div class="content">
            <h2>Femme</h2>
            <p>Vous trouvez en cliquant si-dessous les articles des femmes
            </p>
            <a style="color: black;" [routerLink]="['/listeFemme']" > Read More </a>
        </div>
      </div>
</div>
